<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
    </head>
    <body>
        <p><a href="/">home page</a></p>
        <p style="text-align:right;"><a href="/explore/index.html">explore</a></p>
        <p style="text-align:right;"><a href="/u/{{logname}}/index.html">{{logname}}</a></p>

        {% for post in posts %}
            <a href="/u/{{post.owner}}/index.html">{{post.owner}}</a>
            <a href = "/p/{{post.postid}}/index.html" style ="text-align: right;">{{post.timestamp}}</a>
            <br>

            <img src="{{post.img_url}}">
            <p>
            {% if post.likes == 1 %}
                1 like
            {% else %}
                {{post.likes}} likes
            {% endif %}
            </p>

            {% for comment in post.comments %}
                <p><a href="/u/{{comment.owner}}/index.html">{{comment.owner}}</a> <span>{{comment.text}}</span></p>


            {%- endfor %}



        {%- endfor %}

    </body>
</html>