<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
    </head>
    <body>
        <p><a href="/">home page</a></p>
        <p style="text-align:right;"><a href="/explore/index.html">explore</a></p>
        <p style="text-align:right;"><a href="/u/{{logname}}/index.html">{{logname}}</a></p>

        
        <a href="/u/{{owner}}/index.html">{{owner}}</a>
        <a href = "/p/{{postid}}/index.html" style ="text-align: right;">{{timestamp}}</a>
        <br>

        <img src="{{img_url}}">
        <p>
        {% if likes == 1 %}
            1 like
        {% else %}
            {{likes}} likes
        {% endif %}
        </p>

        {% for comment in comments %}
            <p><a href="/u/{{comment.owner}}/index.html">{{comment.owner}}</a> <span>{{comment.text}}</span></p>


        {%- endfor %}



        

    </body>
</html>