<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
    </head>
    <body>
        <p><a href="/">home page</a></p>
        <p style="text-align:right;"><a href="/explore/">explore</a></p>
        <p style="text-align:right;"><a href="/u/{{logname}}/l">{{logname}}</a></p>

        <h1>{{username}}</h1>
        <p>
            {% if logname_follows_username %}
                following
            {% else %}
                not following
            {% endif %}
        </p>
        <h2>
            <span>
                {% if total_posts == 1 %}
                    {{total_posts}} post
                {% else %}
                    {{total_posts}} total posts
                {% endif %}

            </span>
            <span> </span>
            <span><a href="/u/{{username}}/followers/">
                {% if followers == 1 %}
                    1 follower
                {% else %}
                    {{followers}} followers
                {% endif %}
            
            </a></span>
            <span> </span>
            <span><a href="/u/{{username}}/following/">{{following}} following</a></span>
        </h2>

        <h2>{{fullname}}</h2>
        {% for post in posts %}
            <a href="/p/{{post.postid}}/"><img src="{{post.img_url}}" alt ="post"></a>
        {%- endfor %}
        

    </body>
</html>